<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Kayulu Company Home Page</title>
</head>
<body>
    <h2>Kayulu Company Home Page</h2>
    <hr>
    <p>Welcome to the Kayulu company home page!</p>

    <hr>
        <p>
            User: <span sec:authentication="principal.username"></span>
            <br>
            Roles: <span sec:authentication="principal.authorities"></span>
        </p>

    <!-- Spring Security framework will automatically send a logout parameter
        http://localhost:8080/showLoginPage?logout
        because logout was configured in the security configuration
        -->

    <hr>
    <div sec:authorize="hasRole('MANAGER')">
        <p>
            <a th:href="@{/leaders}">Leadership Meeting</a> (Only for Managers)
        </p>
    </div>

    <div sec:authorize="hasRole('ADMIN')">
        <p>
            <a th:href="@{/systems}">IT Systems Meeting</a> (Only for Admins)
        </p>
    </div>

    <form action="#" th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout" />
    </form>
</body>
</html>